#logo{
    text-align: center;
    display: block;
    margin-top: 10px;
}
footer{
    text-align: center; 
    background-color: black; 
    color: white;
}
nav{
    background-color:black; 
    z-index:10;
    position: fixed;
}
ul{
    list-style: none;
    padding-top: 5px;
}
li{
    display: inline; 
    padding: 0px 124px 0px 124px;
}