footer{
    text-align: center; 
    background-color: #262626; 
}
footer a, footer h4, #nav ul a, #nav a, #nav span{
    color: #D9D9D9;
}
#nav{
    background-color:#262626;
    position: fixed!important;
    z-index: 100;
    width: 100%;
    text-align: center;
}
#nav ul{
    list-style: none;
}
#nav li{
    display: inline; 
    padding: 0px 64px 0px 64px;
}
#Bienvenida{
    text-align: center;
    background-color: #ffff;
}
.card-group>.card{
    margin-bottom: 0% !important;
}